## 정답 제출을 위해, Train파일과 Test파일 합친 data set생성

In [53]:
import pandas as pd
import numpy as np

In [54]:
test = pd.read_csv('data/test_set/2.8_1unit_price_to_class.csv')
train = pd.read_csv('./temp2_imputation.csv')
refer = pd.read_csv('data/train_set/2.3work_time.csv')

In [55]:
train['product_code'] = refer['product_code']
test['pastBuyer_count_mean']= np.nan

In [56]:
for i in range(len(test)):
    #find past record
    past_same_data = train.loc[train.product_code == test.loc[i].product_code] 
    if(len(past_same_data) !=0):
        pastAvg = past_same_data.buy_count.mean()
        test.loc[i,'pastBuyer_count_mean']=pastAvg

In [57]:
train['type'] = 'train'
test['type'] = 'test'

merged = pd.concat([train,test])
merged

,broadcast_time,product_category,unit_price,handling_amount,off_day,time,weekday,hour,temperature_seoul,rain_seoul,...,working_time,buy_count,pastBuyer_count_mean,unit_price_class,product_code,type,broadcast_date,broadcast_code,product_name,date
0,20.000000,의류,39900,2099000.0,True,06:00:00,1,6,-7.9,0.0,...,False,52.606516,NaN,3.0,201072,train,NaN,NaN,NaN,NaN
1,20.000000,의류,39900,4371000.0,True,06:00:00,1,6,-7.9,0.0,...,False,109.548872,NaN,3.0,201079,train,NaN,NaN,NaN,NaN
2,20.000000,의류,39900,6955000.0,True,06:20:00,1,6,-7.9,0.0,...,False,174.310777,109.548872,3.0,201079,train,NaN,NaN,NaN,NaN
3,20.000000,의류,39900,3262000.0,True,06:20:00,1,6,-7.9,0.0,...,False,81.754386,52.606516,3.0,201072,train,NaN,NaN,NaN,NaN
4,20.000000,의류,39900,9337000.0,True,06:40:00,1,6,-7.9,0.0,...,False,234.010025,141.929825,3.0,201079,train,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,10.000000,속옷,119000,NaN,False,00:10:00,2,0,18.8,0.0,...,False,NaN,NaN,14.0,200274,test,2020-07-01 00:10:00,100099.0,라쉬반 FC바로셀로나 드로즈 8종,2020-07-01
2712,10.000000,속옷,99000,NaN,False,00:10:00,2,0,18.8,0.0,...,False,NaN,NaN,13.0,200273,test,2020-07-01 00:10:00,100099.0,[일시불]라쉬반 FC바로셀로나 드로즈 패키지,2020-07-01
2713,10.000000,속옷,119000,NaN,False,00:10:00,2,0,18.8,0.0,...,False,NaN,NaN,14.0,200272,test,2020-07-01 00:10:00,100099.0,[무이자]라쉬반 FC바로셀로나 드로즈 패키지,2020-07-01
2714,20.000000,의류,69900,NaN,False,01:20:00,2,1,18.8,0.0,...,False,NaN,NaN,10.0,200875,test,2020-07-01 01:20:00,100261.0,아놀드파마 티셔츠레깅스세트,2020-07-01
2715,15.933333,의류,69900,NaN,False,01:40:00,2,1,18.8,0.0,...,False,NaN,NaN,10.0,200875,test,2020-07-01 01:40:00,100261.0,아놀드파마 티셔츠레깅스세트,2020-07-01

In [50]:
merged.columns

Index(['broadcast_time', 'product_category', 'unit_price', 'handling_amount',
       'off_day', 'time', 'weekday', 'hour', 'temperature_seoul', 'rain_seoul',
       'humid_seoul', 'snow_seoul', 'temperature_busan', 'rain_busan',
       'humid_busan', 'snow_busan', 'pmWarning_seoul', 'pmWarning_busan',
       'season', 'day_dup', 'week_dup', 'max_watching', 'avg_watching',
       'working_time', 'buy_count', 'pastBuyer_count_mean', 'unit_price_class',
       'product_code', 'type', 'broadcast_date', 'broadcast_code',
       'product_name', 'date'],
      dtype='object')

In [58]:
merged = merged.drop(columns = ['handling_amount','product_code','avg_watching','max_watching','broadcast_code', 'product_name','broadcast_date','date'])

In [59]:
merged['pmWarning_seoul'] = merged['pmWarning_seoul'].fillna(False)
merged['pmWarning_busan'] = merged['pmWarning_busan'].fillna(False)

In [67]:
merged.columns

Index(['broadcast_time', 'product_category', 'unit_price', 'off_day', 'time',
       'weekday', 'hour', 'temperature_seoul', 'rain_seoul', 'humid_seoul',
       'snow_seoul', 'temperature_busan', 'rain_busan', 'humid_busan',
       'snow_busan', 'pmWarning_seoul', 'pmWarning_busan', 'season', 'day_dup',
       'week_dup', 'working_time', 'buy_count', 'pastBuyer_count_mean',
       'unit_price_class', 'type'],
      dtype='object')

## 이전 판매기록이 없는 경우, 카테고리별 평균 사용

In [61]:
category_mean = pd.read_csv("category_mean.csv")
category_mean = category_mean.set_index("category")

In [62]:
categories = category_mean.index

In [63]:

for category in categories:
    merged.loc[(merged.product_category == category) & 
               (np.isnan(merged.pastBuyer_count_mean)),'pastBuyer_count_mean'] = category_mean.loc[category,'mean']

In [68]:
merged['buy_count']

0        52.606516
1       109.548872
2       174.310777
3        81.754386
4       234.010025
           ...
2711           NaN
2712           NaN
2713           NaN
2714           NaN
2715           NaN
Name: buy_count, Length: 38091, dtype: float64

In [69]:
merged['diff'] = merged['buy_count']/merged['pastBuyer_count_mean']

In [70]:
merged['diff']

0       0.136653
1       0.284570
2       1.591169
3       1.554073
4       1.648773
          ...
2711         NaN
2712         NaN
2713         NaN
2714         NaN
2715         NaN
Name: diff, Length: 38091, dtype: float64

In [71]:
merged = merged.reset_index(drop = True)

In [72]:
merged.isnull().sum()

broadcast_time             0
product_category           0
unit_price                 0
off_day                    0
time                       0
weekday                    0
hour                       0
temperature_seoul          0
rain_seoul                 0
humid_seoul                0
snow_seoul                 0
temperature_busan          0
rain_busan                 0
humid_busan                0
snow_busan                 0
pmWarning_seoul            0
pmWarning_busan            0
season                     0
day_dup                    0
week_dup                   0
working_time               0
buy_count               2716
pastBuyer_count_mean       0
unit_price_class           0
type                       0
diff                    2716
dtype: int64

In [73]:
merged.to_csv("train_test.csv")